* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url('background.png');
  background-size: cover;             /* Масштабирует картинку */
  background-position: center center; /* Центрирует */
  background-repeat: no-repeat;       /* Без повторов */
}
